<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nunjucks演示</title>
    <style>
    </style>
</head>
<body>
    <div>
        {# 继承父级模板:注意除了继承的父级模内容和自己更改的内容，其他内容都会被覆盖掉 #}
        {% extends 'parent.html' %}
        {% block left %}
            左边内容son
        {% endblock %}
        {% block right %}
            右边内容son
        {% endblock %}

        {% block somevalue %}
            {{ super() }}
        {% endblock %}
    </div>
</body>
</html>